SECRET_KEY = secret
DEBUG = True

ALLOWED_HOSTS = localhost, 127.0.0.1, 0.0.0.0
ALLOW_ALL_ORIGINS = True

DATABASE_ENGINE = django.db.backends.<database>
DATABASE_NAME = string
DATABASE_USER = string
DATABASE_PASSWORD = string
DATABASE_HOST = url.com
DATABASE_PORT = 1234
